.list-container{
    height: 80vh;
    width: 80%; 
    display: flex;
    justify-content: center;
    form{
        width: 340px;

        margin-top: 4rem;
        button{
            height: 30px;
            width: 70px;
        }
        input{
            height: 30px;
        }
        div{

        }
    }
    ul{
        margin-top: 4rem; 
    }
    span{
        margin: 2px 2px 2px 2px;
    }
}
.lined{
    opacity: 0.7;
    text-decoration: line-through;
}
